@model EthanYoung.PersonalWebsite.Web.Models.LeftNavModel
<div class="hidden-print" role="complementary">
    <ul class="nav ey-leftNav" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
        <li><a href="@Url.Action("gallery", "trips", new { id = "alaska-2005" })">Alaska 2005</a></li>
        <li><a href="@Url.Action("gallery", "trips", new { id = "southwest-2007" })">Southwest 2007</a></li>
        <li><a href="@Url.Action("gallery", "trips", new { id = "mexico-2013" })">Mexico 2013</a></li>
        <li><a href="@Url.Action("gallery", "trips", new { id = "moab-may-2006" })">Moab May 2006</a></li>
        <li><a href="@Url.Action("gallery", "trips", new { id = "uncle-bud-hut-2007" })">Uncle Bud Hut</a></li>
        <li><a href="@Url.Action("gallery", "trips", new { id = "betty-bear-hut-2006" })">Betty Bear Hut</a></li>
        <li><a href="@Url.Action("gallery", "trips", new { id = "bingham-canyon-mine" })">Bingham<br />Canyon Mine</a></li>
        <li><a href="@Url.Action("gallery", "trips", new { id = "dinosaur-nm-2005" })">Dinosaur National<br />Monument</a></li>
    </ul>
</div>