@using EthanYoung.PersonalWebsite.Web.Models
@{
    ViewBag.Title = "Trips";
}
@section header {
    @Html.Partial("_header", new HeaderModel {IsTripsActive = true})
}
<div class="row">
    <div class="visible-md visible-lg col-md-2">
        @Html.Partial("_left-nav", new LeftNavModel {SelectedMenuItemId = "Trips"})
    </div>
    <div class="col-sm-12 col-md-10" role="main">
        <h1>Trips</h1>
        <div class="media">
            <a class="pull-left hidden-xs" href="@Url.Action("gallery", "trips", new { id = "alaska-2005" })">
                <img class="media-object" alt="My motorcycle at the Arctic Circle at midnight." src="@Url.Content("~/Content/Trips/alaska-2005/Arctic Circle.JPG")" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Alaska Motorcycle Trip 2005
                    <a href="@Url.Action("gallery", "trips", new { id = "alaska-2005" })">[Gallery]</a>
                    <a href="@Url.Action("slide-show", "trips", new { id = "alaska-2005" })">[Slide Show]</a>
                </h4>
                <p>            
                    This motorcycle trip took me 25,000 miles over about 10 weeks. I visited the Southernmost, Easternmost, Northernmost, and Westernmost points
                    in the lower 48 states, and the Northernmost and Westernmost road accessible points in North America. In addition to these bragging rights
                    points, I stopped at a lot of great sights along the way. I've included some pictures of the (better than expected) road conditions up North
                    for reference by other riders thinking of making the trip.
                </p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left hidden-xs" href="@Url.Action("gallery", "trips", new { id = "southwest-2007" })">
                <img class="media-object" alt="A rock formation in the Jumbo Rocks campground of Joshua Tree National Park at sunset." src="@Url.Content("~/Content/Trips/southwest-2007/Jumbo Rocks Close Up 2.jpg")" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Southwest Motorcycle Trip 2007
                    <a href="@Url.Action("gallery", "trips", new { id = "southwest-2007" })">[Gallery]</a>
                    <a href="@Url.Action("slide-show", "trips", new { id = "southwest-2007" })">[Slide Show]</a>
                </h4>
                <p>
                    This trip took me through the three national parks in the lower 48 that I hadn't yet been to: Channel Islands, Joshua Tree, and Saguaro.
                </p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left hidden-xs" href="@Url.Action("gallery", "trips", new { id = "mexico-2013" })">
                <img class="media-object" alt="Ethan and Sarah with the Royal Playa del Carmen's pet iguana on their heads." src="@Url.Content("~/Content/Trips/mexico-2013/Iguana on Our Heads.jpg")" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Playa del Carmen, Mexico 2013
                    <a href="@Url.Action("gallery", "trips", new { id = "mexico-2013" })">[Gallery]</a>
                    <a href="@Url.Action("slide-show", "trips", new { id = "mexico-2013" })">[Slide Show]</a>
                </h4>
                <p>
                    Sarah and I visited Playa del Carmen, Mexico to attend her friend Anne's wedding. While there we explored the cenote at Rio Secreto, Mayan
                    ruins in Coba and Tulum, and went snorkeling at Gran Arrecife Maya.
                </p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left hidden-xs" href="@Url.Action("gallery", "trips", new { id = "moab-may-2006" })">
                <img class="media-object" alt="Tower Arch in Arches National Park" src="@Url.Content("~/Content/Trips/moab-may-2006/Tower Arch 2.jpg")"/>
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Moab May 2006
                    <a href="@Url.Action("gallery", "trips", new { id = "moab-may-2006" })">[Gallery]</a>
                    <a href="@Url.Action("slide-show", "trips", new { id = "moab-may-2006" })">[Slide Show]</a>
                </h4>
                <p>
                    On this trip we visited Canyonlands and Arches National Parks. We toured around the Needles area of Canyonland on my motorcycle and saw the
                    few sights that can be reached by paved roads and short hikes. To see more requires travelling on moderate and difficult 4x4 trails. In Arches
                    we met up with some friends who were in town for a Nissan Xterra off road convention. After seeing a few of the popular sights from the paved
                    road we all got in the 4x4 vehicles and headed out to Tower Arch. This was one of the best sights and it was nearly deserted because of it's
                    slightly more remote location. I can't wait to go back and explore more of the world famous 4x4 trails in the area.
                </p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left hidden-xs" href="@Url.Action("gallery", "trips", new { id = "uncle-bud-hut-2007" })">
                <img class="media-object" alt="Galena Mountain" src="@Url.Content("~/Content/Trips/uncle-bud-hut-2007/Galena Mountain.jpg")" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Uncle Bud Hut Ski Trip
                    <a href="@Url.Action("gallery", "trips", new { id = "uncle-bud-hut-2007" })">[Gallery]</a>
                    <a href="@Url.Action("slide-show", "trips", new { id = "uncle-bud-hut-2007" })">[Slide Show]</a>
                </h4>
                <p>
                    This backcountry hut is located at 11,380ft, near the Continental Divide, west of Leadville Colorado, on the shores of Turquoise Lake.
                    You can find more information about this and other huts at the <a href="http://www.huts.org" target="_blank">10th Mountain Division</a>
                    web site. There are also several guide books published about the many hut systems in Colorado.
                </p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left hidden-xs" href="@Url.Action("gallery", "trips", new { id = "betty-bear-hut-2006" })">
                <img class="media-object" alt="Betty Bear Hut" src="@Url.Content("~/Content/Trips/betty-bear-hut-2006/Betty Bear Hut.jpg")" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Betty Bear Hut Ski Trip
                    <a href="@Url.Action("gallery", "trips", new { id = "betty-bear-hut-2006" })">[Gallery]</a>
                    <a href="@Url.Action("slide-show", "trips", new { id = "betty-bear-hut-2006" })">[Slide Show]</a>
                </h4>
                <p>
                    This backcountry hut was built by the 10th Mountain Division Hut Association in 1991. It is located at 11,100ft, near the Continental
                    Divide, east along the Fryingpan River from Basalt Colorado. You can find more information about this and other huts at the
                    <a href="http://www.huts.org" target="_blank">10th Mountain Division</a> web site. There are also several guide books
                    published about the many hut systems in Colorado.
                </p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left hidden-xs" href="@Url.Action("gallery", "trips", new { id = "bingham-canyon-mine" })">
                <img class="media-object" alt="Big Truck" src="@Url.Content("~/Content/Trips/bingham-canyon-mine/Truck.JPG")" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Bingham Canyon Mine
                    <a href="@Url.Action("gallery", "trips", new { id = "bingham-canyon-mine" })">[Gallery]</a>
                    <a href="@Url.Action("slide-show", "trips", new { id = "bingham-canyon-mine" })">[Slide Show]</a>
                </h4>
                <p>
                    This open pit copper mine is the largest man-made excavation in the world. In the roughly 100 years since it has been
                    in operation, over 6 billion tons of material has been removed. For more information (and some better pictures) visit the
                    <a href="http://www.kennecott.com/" target="_blank">Kennecott Home Page</a>.
                </p>
            </div>
        </div>
        <div class="media">
            <a class="pull-left hidden-xs" href="@Url.Action("gallery", "trips", new { id = "dinosaur-nm-2005" })">
                <img class="media-object" alt="Cliff And Snow" src="@Url.Content("~/Content/Trips/dinosaur-nm-2005/Cliff and Snow.JPG")" />
            </a>
            <div class="media-body">
                <h4 class="media-heading">
                    Dinosaur National Monument
                    <a href="@Url.Action("gallery", "trips", new { id = "dinosaur-nm-2005" })">[Gallery]</a>
                    <a href="@Url.Action("slide-show", "trips", new { id = "dinosaur-nm-2005" })">[Slide Show]</a>
                </h4>
                <p>
                    This park in the Uinta Basin is home to a dinosaur quarry where thousands of fossils
                    have been discovered. Most were removed and placed in museums around the world,
                    but around 2,000 remain encased in stone so that tourists can see them the way they
                    were discovered. Scientists think the bones are located here because dinosaur carcasses
                    were washed down river until they stopped on a sand bar and were burried with more
                    sand and silt to become fossilized.
                </p>
            </div>
        </div>
    </div>
</div>